# Port to listen for requests on
PORT=8080
# Permitted domains for cross-origin requests, e.g. http://localhost:1313
ALLOWED_ORIGINS=

# The name of the database, e.g. `starttls` or `starttls_dev`
# (this should be created in advance)
DB_NAME=starttls_dev
# Username and password for database access
DB_USERNAME=postgres
DB_PASSWORD=password
# The database hostname, e.g. `localhost` for local development or `postgres` for Docker.
DB_HOST=postgres
