# Port to listen for requests on
PORT=8080
# Permitted domains for cross-origin requests, e.g. http://localhost:1313
ALLOWED_ORIGINS=
# Filepath to domain blacklist
DOMAIN_BLACKLIST=
# Filepath to IP blacklist
IP_BLACKLIST=

# The name of the database, e.g. `starttls` or `starttls_dev`
# (this should be created in advance)
DB_NAME=starttls_dev
# Username and password for database access
DB_USERNAME=postgres
DB_PASSWORD=password
# The database hostname, e.g. `localhost` for local development or `postgres` for Docker.
DB_HOST=postgres

# Test database credentials
TEST_DB_NAME=starttls_test
TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=password
TEST_DB_HOST=postgres_test

# Email sending information
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENDPOINT=
SMTP_PORT=
SMTP_FROM_ADDRESS=

# Error reporting
SENTRY_URL=

FRONTEND_WEBSITE_LINK=
