<html>
  <head>
    <title>STARTTLS Everywhere</title>
  </head>
  <body>
    {{ if ne .StatusCode 200 }}
      <p>{{ .StatusText }}</p>
    {{ end }}

    {{ if ne .Message "" }}
      <p>{{ .Message }}<p>
    {{ end }}

    <p>{{ .Response }}<p>
  </body>
</html>
